<html ng-app='app'>
	<body ng-controller='ctrl'>
		<div style='text-align: center; letter-spacing: 1px;'><strong>SEARCH HERE</strong></div>
		<input type="text" ng-model='search' style="margin: 10px auto 20px auto; width: 320px; display: block;">
		<div ng-repeat="thing in data | filter: search" style='border: 1px solid #DDD; margin: 10px auto; padding: 10px; text-align: center; width: 300px; letter-spacing: 1px;'>
			<strong>{{thing.name}}</strong> <br>
			{{thing.email}} <br>
			{{thing.dateEmployed}} <br>
			{{thing.phone}}
		</div>






		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>